/*
 * Copyright 2020 Digi Dinos JSC. All rights reserved.
 * Email: tech@digidinos.com.
 */

/**
 * Variable overrides
 */

// Breakpoint => https://www.antdv.com/components/layout/#breakpoint-width
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

// Color
$primary: #1890ff;

// Font

// Z-index
// $z-index-loading: 1100;
// $z-index-message-preview: 1110;
// $z-index-loading-fullscreen: 2000;
